version: '3.8'

services:
  db:
    image: postgres:16.3
    restart: always
    environment:
      - POSTGRES_USER=demo-shopify-integration
      - POSTGRES_PASSWORD=demo-shopify-integration
      - POSTGRES_DB=demo-shopify-integration
    ports:
      - 5432:5432

  broker:
    image: bitnami/kafka:4.0.0
    hostname: broker
    container_name: broker
    user: "0:0"
    ports:
      - '9092:9092'
    environment:
      - KAFKA_BROKER_ID=1
      - KAFKA_CFG_NODE_ID=1
      - KAFKA_CFG_PROCESS_ROLES=broker,controller
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=1@broker:9093
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093,INTERNAL://:29092
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://localhost:9092,INTERNAL://broker:29092
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT,INTERNAL:PLAINTEXT
      - KAFKA_CFG_INTER_BROKER_LISTENER_NAME=INTERNAL
      - KAFKA_CFG_LOG_DIRS=/bitnami/kafka/data
      - KAFKA_CFG_OFFSETS_TOPIC_REPLICATION_FACTOR=1
      - KAFKA_CFG_TRANSACTION_STATE_LOG_MIN_ISR=1
      - KAFKA_CFG_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=1
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
    volumes:
      - ./kafka-data:/bitnami/kafka/data
    command: >
      sh -c "
      if [ ! -f /bitnami/kafka/data/meta.properties ]; then
        kafka-storage.sh format --cluster-id q98AqG3_SJSh-yVwFsd0gA --config /opt/bitnami/kafka/config/kraft/server.properties;
      fi &&
      /opt/bitnami/scripts/kafka/run.sh
      "

  kafka-ui:
    image: provectuslabs/kafka-ui:v0.7.2
    depends_on:
      - broker
    ports:
      - 8080:8080
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: broker:29092

  redis:
    image: redis:7.4.4
    restart: always
    ports:
      - 6379:6379
    volumes:
      - ./redis-data:/data
    command: redis-server --appendonly yes
